.app {
    display: flex;
    min-height: 100vh;
  }
  
  /* MainPage 전체를 감싸는 컨테이너에 스타일 지정 */
.main-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}


  .main-page {
  padding-top: 40px; /* 상단 여백 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 메인 페이지 전체 폭 조절 */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
